.btn-primary {
  color: white;
  background-color: $primary;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary;
    opacity: .9;
  }
}

.btn-danger {
  color: white;

  &:hover,
  &:focus,
  &:disabled {
    color: white;
  }
}

.btn-outline-danger,
.btn-outline-success,
.btn-outline-primary,
.btn-outline-info {
  &:hover,
  &:active {
    color: white;

    & > [class*="text-"] {
      color: inherit !important;
    }
  }
}

.btn-action {
  font-size: 12px;
  padding: 0px 8px;
  box-shadow: none !important;
}

.btn-social {
  &.btn-twitter {
    color: $twitter;
    border-color: $twitter;
  }

  &.btn-facebook {
    color: $facebook;
    border-color: $facebook;
  }
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: rgb(110 100 255 / 25%);
  color: $primary;
}

.btn-outline-success:hover,
.btn-outline-success:active {
  background-color: rgb(110 250 150 / 25%);
  color: $success;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  background-color: rgb(110 115 125 / 20%);
  color: $secondary;
}

.btn-outline-info:hover,
.btn-outline-info:active {
  background-color: rgb(110 180 235 / 25%);
  color: $info;
}

.btn-outline-danger:hover,
.btn-outline-danger:active {
  background-color: rgb(200 50 50 / 20%);
  color: $danger;
}

.button.primary:hover, 
.button.primary:focus, 
.button.soft-primary:hover, 
.button.soft-primary:focus, 
.button.primary.active {
  color: $white;
}

.button.icon-label {
    border: 0;
    position: relative;
}

.button.bg-facebook {
  background-color: $facebook;
  &:hover,
  &:focus,
  &:disabled {
    background-color: $facebook;
    opacity: .9;
  }
}

.button.bg-google {
  background-color: $google;
  &:hover,
  &:focus,
  &:disabled {
    background-color: $google;
    opacity: .9;
  }
}

.button.bg-twitter {
  background-color: $twitter;
  &:hover,
  &:focus,
  &:disabled {
    background-color: $twitter;
    opacity: .9;
  }
}

.button.icon-label .inner-icon {
  line-height: 1;
  position: absolute;
  width: 2.5em;
  height: 100%;
  margin: 0;
  text-align: center;
  border-radius: 0;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.icon-label .inner-icon:not(:last-child) {
  top: 0;
  left: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.button.icon-label .inner-text {
  padding-left: 2em;
}
